<?xml version="1.0"?>
<launch>

  	<!-- specify the planning pipeline -->
  	<arg name="pipeline" default="ompl" />

  	<!-- By default, we are not in debug mode -->
  	<arg name="debug" default="false" />

  	<!-- By default, we will load or override the robot_description -->
  	<arg name="load_robot_description" default="true"/>

	<!-- Choose controller manager: fake, simple, or ros_control -->
 	<arg name="moveit_controller_manager" default="ros_control" />

 	<!-- By default, hide joint_state_publisher's GUI in 'fake' controller_manager mode -->
	<arg name="use_gui" default="false" />
	<arg name="use_rviz" default="true" />

	<!-- Load URDF,SRDF and other .yaml configuration files on the param server -->
	<include file="$(find ur5e_softgripper_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="true"/>
	</include>

	<!-- Joint states coming from robot arm in Gazeo -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="/use_gui" value="false" />
		<rosparam param="/source_list">[/joint_states]</rosparam>
	</node>

	<!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  	<include file="$(dirname)/move_group.launch">
  		<arg name="publish_monitored_planning_scene" value="true"/>
    	<arg name="allow_trajectory_execution" value="true"/>
    	<arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
    	<arg name="info" value="true"/>
    	<arg name="debug" value="$(arg debug)"/>
    	<arg name="pipeline" value="$(arg pipeline)"/>
  	</include>

	<!-- Run Rviz and load the default config to see the state of the move_group node -->
  	<include file="$(find ur5e_softgripper_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    	<arg name="rviz_config" value="$(find ur5e_softgripper_moveit_config)/launch/moveit.rviz"/>
    	<arg name="debug" value="$(arg debug)"/>
  	</include>

</launch>
