<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="Gray">
    <color rgba="0.5 0.5 0.5 0" />
  </material>

  <material name="FlatBlack">
    <color rgba="0 0 0 1"/>
  </material>
  
  <material name="Green">
    <color rgba="0.286274509803922 0.662745098039216 0.329411764705882 1"/>
  </material>

</robot>
